/* Sticky Footer */
.footer {
	padding-bottom: 34px;
	margin-top: auto; /* sticky footer */
}

.footer-container {
	max-width: 1147px;
}

.footer__row {
	max-width: 1147px;
	justify-content: space-between;
	row-gap: 58px;
}

.buyer__title {
	margin-bottom: 16px;
}

.buyer__list {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.buyer__link {
	letter-spacing: 0.56px;
}


.about__title {
	margin-bottom: 16px;
}

.about__list {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.about__link {
	letter-spacing: 0.56px;
}

.subscribers__title {
	margin-bottom: 17px;
}

.subscribers__form {
	display: flex;
	flex-direction: column;
	row-gap: 15px;

	&:last-child {
		align-items: flex-end;
	}
}

.subscribers__form-input {
	width: 452px;
	height: 60px;
	border-bottom:1px solid #C4C4C4;

	/* Mobile XS */
	@media (max-width:500px) {
		width: 320px;
	}

	/* Mobile XS */
	@media (max-width:400px) {
		width: 290px;
	}
}

.subscribers__form-label {
	position: relative;
	display: flex;
    justify-content: flex-end;
    align-items: center;
	margin-bottom: 35px;
	&::after {
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		background-image: url('../../img/footer/close.svg');
	}
}

.subscribers__form-button {
	border: 1px solid $accent-color;
	width: 150px;
	padding: 8px 28px;
	background: #FFF;
}